body {
  background-color: #e6d2af;
}

 .container {
  display: block;
  background-color: #e6d2af;
  margin: 0 auto;
  padding: 10px;
  border: 10px;
  border-radius: 15px;
} 

/* nav styling */
header {
  background-color: #E49743;
}

 ul {
  list-style-type: none;
  margin: 15px;
  padding: 0;
  overflow: hidden;
  background-color: #E49743;
  
} 

li {
  float: left;
} 

button {
  padding: 20px;
  margin: 10px;
  color: var(--textColor);
  border-bottom-left-radius: 15px;
  width: 8vw;
  min-width: 90px;
  font-weight: 600;
  background-color: #E49743;
} 

/* login styling */

form {
  padding: 15px 0;
  width: 75%;
 align-items: center;

} 
